body {
    padding-top: 60px;
    padding-bottom: 30px;
}

body nav.navbar-fixed-bottom {
    min-height: 20px;
}

.glyphicon-user {
    margin-right: 5px;
}

table .btn.btn-link {
    padding-top: 0px;
    padding-bottom: 0px;
}

body .gridClass {
    width: 100%;
    height: 100%;
}

body .gridClass.credit-note {
    width: 100%;
    height: calc(100% - 40px);
}

html,
body,
div[ui-view="mainbody"] {
    height: 100%;
}


div[ui-view="login"] form {
    position: relative;
    width:100%;
    margin-top:10%;
    padding-bottom: 1%;
}

.ui-grid-viewport.ng-isolate-scope {
    overflow-x: hidden !important;
}

.ui-grid-grid-footer {
    padding-left: 2px;
    padding-top: 5px;
}

#mydiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: .8;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px;
    display: block;
    width: 50px;
    height: 50px;
    z-index: 9000;
}

#detailContract > div,
#changePwd>div {
    margin-top: 120px;
}

.ui-grid-footer-cell-row {
    text-align: right;
}

#uploadWin .modal-body {
    min-height: 450px;
}

#uploadWin .modal-body > div.col-md-4.bad-file-alert > div {
    margin-top: 50px;
    position: absolute;
    width: calc(100% - 30px);
}

#uploadWin .modal-body > div.col-md-4.upload-file {
    margin-top: 150px;
    margin-bottom: 20px;
}

#uploadWin .modal-body > div[ng-show] {
    padding: 0 5px;
    height: 100%;
}

#exportPreview .modal-body {
    min-height: 450px;
}

#exportPreview .modal-body > div.col-md-4.bad-file-alert > div {
    margin-top: 50px;
    position: absolute;
    width: calc(100% - 30px);
}

#exportPreview .modal-body > div.col-md-4.upload-file {
    margin-top: 150px;
}

#exportPreview .modal-body > div[ng-show] {
    padding: 0 5px;
    height: 100%;
}

.glyphicon.glyphicon-download-alt {
    margin-right: 5px;
}

.text-muted {
    color: #fff;
}

#detailContract .modal-footer .btn:last {
    margin-left: 10px;
}

.panel-body.text-info span.square-info {
    margin-right: 30px;
}

div.ui-grid-cell input[type="checkbox"],
div.ui-grid-cell .glyphicon-lock,
div.ui-grid-cell .glyphicon-check {
    margin: 0 0 0 6px;
}

.credit-note-operation {
    margin-bottom: 8px;
}

#sizing-addon2 {
    border-right: none;
    border-left: none;
}

body .history .gridClass {
    height: calc(50% - 35px);
}

.width-fixed {
    width: 150px;
}

.ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis-md {
    width: 120px;
}

.glyphicon.glyphicon-transfer.from-vcecure-remark {
    float: right;
}

.float-left {
    float: left;
}
.loginform {
	margin-top: 0%;
	margin-left: 0%;
	padding-top: 0px;
	width:100%;
	height:100%;
	position:relative;
}
.bottom {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.sidebar {
  display: block;
  padding-top: 50px;
  margin-top: 50px;
    margin-left: auto;
  margin-right: auto;
}
.topbar {
  background-color:#B22222;
  color:white;
}
/* 包含topbar mainbody */
.mainframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:100%;
}
/*remove了*/
.row2 {
	  padding-top: 50px;
	  height:100%;
}

.mainbody {
  display: block;
  position:relative;
}
.limitbindbar {
  display: block;
 margin-top: 42px;
  height:100%;
}

.textcolor1 {
	color:white;
}

/* green */
$bgDefault      : #2ecc71;
$bgHighlight    : #27ae60;
$colDefault     : #ecf0f1;
$colHover       : #d1ffed;

/* Purple * /
/* $bgDefault      : #9b59b6;
$bgHighlight    : #8e44ad;
$colDefault     : #ecf0f1;
$colHover       : #ecdbff; */
/* Orange * /
/* $bgDefault      : #e67e22;
$bgHighlight    : #d35400;
$colDefault     : #ecf0f1;
$colHover       : #ffe6d1; */


/* --- Style --- */
.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight; }}
}

